.msg {
    padding: 10px;
    background: #222;
    position: relative;
}

.msg h1 {
    color: #fff;
}

.msg a {
    margin-left: 20px;
    background: #408814;
    color: #FFF;
    padding: 4px 8px;
    text-decoration: none;
}

.msg a:hover {
    background: #266400;
}

/* Font styles */

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url('../font/PlayfairDisplay-Italic.woff') format('woff'), url('../font/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    src: local('Playfair Display'), local('PlayfairDisplay'), url('../font/PlayfairDisplay-Regular.woff') format('woff'), url('../font/PlayfairDisplay-Regular.ttf') format('truetype');
}

.yui-gc {
  padding: 0 10px;
}

/* yui-grids style overrides */
html {
background-image: url(../img/dvsup.png);
}

body {
    font-family: 'Playfair Display';
    color: #444;
}

#inner {
    padding: 6px 40px;
    margin: 50px auto;
    background-color:#FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
}

.yui-gf {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
}

/* header & body */
#hd {
    margin: 2em 0 2em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
}

#hd h2 {
    letter-spacing: 2px;
    font-style: italic;
}

/* footer */
#ft {
    padding: 1em 0 3em 0;
    font-size: 92%;
    border-top: 1px solid #ccc;
    text-align: center;
}

#ft p {
    margin-bottom: 0;
    text-align: center;
}

#ft a#shuriken {
    margin: 10px ;
    display:inline-block;
}

/* core typography and style */
#hd h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 11.2px;
}

h2 {
    font-size: 162%
}

h3, h4 {
    font-size: 122%;
}

/* .job h2 a {font-weight: bold; text-decoration: none;} */
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #555 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; text-align:right; }
.first h3 { font-style: italic; }
.last { border-bottom: 0 }

.summary {font-size: 115%; }


/* section styles */

#pdf{
  margin-bottom: 20px;
}

.job, .proj, .award.last { margin-bottom: 0.5em; padding-bottom: 0.5em; }
.award { margin-bottom: 0.5em; padding-bottom: 0.5em; }
.job { position: relative; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.award h4 { position: absolute; top: 0; right: 0 }
.job p { margin: 0.5em 0 0.5em 0; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.proj { width: 32%; float: left }
.proj-foo { width: 120px; float: center }
.proj h2 { margin-bottom: 6px; }

.award {
    position: relative;
}

#srt-ttab {
    margin-bottom: 100px; text-align: center;
}

#srt-ttab img.last {
    margin-top: 20px
}

/* override to force 1/8th width grids */
.yui-gf .yui-u{
    width:85%;
}

.yui-gf div.first{
    width:12.3%;
}

/* Print-specific stuff */

@media print {
    #pdf {
        visibility: hidden;
}

    #inner { padding: 0 0;
    margin: 0 0;
    border-width: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    }

    .yui-gf {
        page-break-inside: avoid;
    }

    .yui-gf.side-projects {
        page-break-after: always;
    }

    .yui-gf.work-experience {
        page-break-before: always;
    }

    .noprintborder {
        border-bottom: none;
    }
}
